body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    justify-content: center;
    margin: 0; 
    background-color: #212529!important;
    color: white;
    height: 60px;
    text-align: center;
    width: auto;
    padding-top: 20px;
}

.regform span {
	width:20%;
}

.logform span {
	width:20%;
}


.accordion {
    background-color:#212529!important;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    color: lightgray;
    font-weight: bold;
    margin-top: 25px;
  }
  
 
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  
  .panel {
    padding: 0 18px;
    background-color: rgb(129, 129, 129);
    display: none;
    overflow: visible;
    color: lightgray;
    overflow-y: scroll;
    position: absolute; 
    width: 1000px;
    height: 750px;
  }
  .panel > p {
      margin-top: 10px;
  }

  .wrapper {
    margin:auto;
    width: 100%;
}


.menuheader{
    display: flex;
    flex-flow:row wrap;
    text-align: center;
    margin: 0;
    background-color: #dc143c;
    height: 90px;
    vertical-align: middle;
    justify-content: center;
}
.topmenu >li {
    list-style: none;
    padding: 1em;
    color: white;
}


.flexgrowcon {
    display: flex;
    align-items: stretch;
}
leftbar,rightbar{
    background-color: rgb(248, 248, 240);
    min-height: 500px;
}


.box {
	float:left;
	margin: 25px;
	border-radius: 5px;
	background-color: rgb(189, 212, 201);
	padding: 1em;
} 

.msg {
    border: 2px solid;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
}
.resp {
    border: 2px solid;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;	
}


.time {
  float: right;
  color: rgb(0, 0, 0);
}
.msg img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 15px;
    border-radius: 50%;

}
.resp img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 15px;
    border-radius: 50%;
}
.chat {
    background-color: gray;
    width: 100%;
}
.chat textarea {
    width: 500px;
    display: block;
    background-color: rgb(48, 48, 48);
    color: white;
}
.namearea{
    width: 500px;
    height: 30px;
    display: block;
    background-color: rgb(48, 48, 48);
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.name {
    font-weight: bold;
    font-size: medium;
}
.btn {
    border: 2px solid black;
    margin: 5px;
    margin-left: 0px;
}
