body {
	background-color: darkgray;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0; 
    background-color: #212529!important;;
    color: white;
    height: 60px;
    text-align: center;
}

.regform span {
	width:20%;
}

.logform span {
	width:20%;
}