body {
	background-color: darkgray;
}

footer {
    justify-content: center;
    margin: 0; 
    background-color: #212529!important;;
    color: white;
    height: 60px;
    text-align: center;
    width: auto;
    padding-top: 20px;
}